# dependencies
node_modules/
.pnpm-store/

# builds
dist/
build/
*.tsbuildinfo

# env (manter apenas .env.example versionado)
.env
.env.*.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# media gerada/enviada (não versionar conteúdos)
media/uploads/*
media/processed/*
!media/uploads/.gitkeep
!media/processed/.gitkeep

# prisma local
apps/api/prisma/*.db

# editores / SO
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
coverage/
.cache/
